@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* Layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 3fr;
  gap: 100px;
}

.workout-details {
  background: #fff; /* White background */
  border-radius: 4px; /* Rounded corners */
  margin: 20px auto; /* 20px margin on top and bottom, auto for centering horizontally */
  padding: 20px; /* 20px padding on all sides */
  position: relative; /* Relative positioning */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05); /* Subtle shadow with slight blur */
}

.workout-details h4 {
  margin: 0 0 10px 0; /* Remove default margin, add 10px margin on bottom */
  font-size: 1.2em;
  color: var(--primary); 
}

.workout-details p {
  margin: 0; /* Remove default margin */
  font-size: 0.9em;
  color: #555; /* Light gray text color */
}

.workout-details span{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
  
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd; /* Correction de la couleur du bord */
  border-radius: 4px;
  box-sizing: border-box; /* Assure que la largeur totale inclut le padding et la bordure */
}

form button {
  background: var(--primary); /* Utilisation de la variable CSS pour la couleur principale */
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins", sans-serif; /* Correction de la police */
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

